
.card {
    display: flex;

    &_info_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_author {
        font-size: 18px;
        margin: 0;
        text-align: left;
    }
}