
.bookItem {

    &_wrapper {
        width: 500px;
    }

    &_inner {
        display: flex;
        gap: 20px;
    }

    &_left {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &_right {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        cursor: pointer;
    }
}