
.ProfileDropdownMenu {

    &_wrapper {
        border-radius: 6px;
        width: 200px;
        height: 300px;
        background-color: red;
        margin-top: 14px;  
        transition: .15s ease;

        position: absolute;
        right: 0;
        z-index: 3;
    }
}

.close {
    display: none;
}

.open {
    display: block;
    animation: showModal .15s linear;
}

@keyframes showModal {
    from {
        height: 0;
    }

    to {
        height: 300px;
    }
}