@use './colors.scss' as colors;

html {
    box-sizing: border-box;
}

body {
    background-color: colors.$background;
    cursor: default;
}

ul,
li,
p,
h3,
h4,
body {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}