
.ant-layout {
  text-align: center;
}

.ant-layout .ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22075e;
  justify-content: space-between;
}

.ant-layout-header .ant-typography {
  font-size: 30px;
  color: #fff;
}

.ant-layout-header .ant-input-group-wrapper {
  max-width: 300px;
}