
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    // margin-bottom: 20px;
}

.list {
    display: flex;
    gap: 15px;
    margin: 0;
}

.item {
    position: relative;
    cursor: pointer;

    &:not(:last-child)::after {
        content: '|';
        position: absolute;
        right: -10px;
        bottom: 5px;
        pointer-events: none;
    }
}